<div id="askthedocs-admin"></div>
<div class="mh3">
	
	<h1>Ask The Docs</h1>
	<p>Create one or more ebook-products and use the shortcode <code>[:ebookproduct id="yourproductid":]</code> to integrate a product box into a page.</p>
	<div id="askthedocs">
		<p>Here we can add our vue component</p>
	</div>

</div>